@font-face {
  font-family: Mali;
  src: url("../public/Mali/Mali-Regular.ttf");
}

@font-face {
  font-family: Mali-italic;
  src: url("../public/Mali/Mali-Italic.ttf");
}

@font-face {
  font-family: Mali-semiBoldItalic;
  src: url("../public/Mali/Mali-SemiBoldItalic.ttf");
}

@font-face {
  font-family: Mali-bold;
  src: url("../public/Mali/Mali-Bold.ttf");
}

/* https://colorhunt.co/palette/192115 */
$primaryColor: #ddf3f5;
$secondarColor: #a6dcef;
$tertiaryColor: #f2aaaa;
$quadraryColor: #e36387;

$catBorderWidth: 15px;

.container-center {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  font-family: Mali;
  background: radial-gradient($primaryColor 60%, $secondarColor);
}

.container-spread {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  font-family: Mali;
  background: radial-gradient($primaryColor 60%, $secondarColor);
  text-align: center;

  .btn-purring {
    position: relative;

    button {
      padding: 5px;
      text-rendering: optimizeLegibility;
      cursor: pointer;
      width: 45px;
      font-size: 26px;
      border: none;
      background-color: $secondarColor;
      border-bottom: 2px solid $tertiaryColor;
      border-left: 2px solid $tertiaryColor;
      border-right: 2px solid $tertiaryColor;
    }
  }
}

.btn-main-summon {
  margin: auto;
  width: 400px;
  color: $quadraryColor;
  padding: 30px;
  border: none;
  background: none;
  cursor: pointer;

  .summon,
  .a {
    display: block;
  }

  .summon {
    text-transform: capitalize;
    font-family: Mali-bold;
    font-size: 50px;
  }

  .a {
    font-family: Mali;
    font-size: 35px;
  }

  .calming {
    font-family: Mali-semiBoldItalic;
    font-size: 50px;
  }

  .cat {
    font-family: Mali-italic;
    font-size: 60px;
  }
}

.btn-small-summon {
  margin: auto;
  width: 500px;
  color: $quadraryColor;
  display: block;
  padding: 15px;
  border: none;
  background: none;
  cursor: pointer;
  flex: 0 0 25%;

  .summon {
    text-transform: capitalize;
    font-family: Mali-bold;
    font-size: 35px;
  }

  .a {
    font-family: Mali;
    font-size: 25px;
  }

  .calming {
    font-family: Mali-semiBoldItalic;
    font-size: 35px;
  }

  .cat {
    font-family: Mali-italic;
    font-size: 40px;
  }
}

.btn-main-summon:hover,
.btn-small-summon:hover {
  border-radius: 300px;
  text-decoration: underline;
}

.container-summonedCat {
  text-align: center;
  position: relative;
  height: 90%;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;

  div {
    height: 100%;
  }

  .img-cat {
    border: 15px #a6dcef inset;
    border-top: 0px;
    cursor: pointer;
    height: 100%;
  }

  .next-image{
    display: none !important;
  }

  .img-caption {
    color: $quadraryColor;
    background-color: rgba(255,255,255,0.8);
    font-size: 30px;
    margin: auto;
    font-family: "Mali-Bold";
    max-width: 350px;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    height: auto;
  }
}

.copyright {
  position: fixed;
  bottom: 0px;
  right: 15px;

  p {
    font-size: 10px;
    font-family: Mali;
  }
}

.credits{
  text-align: justify;
  max-width: 80%;
}

.modal {
  .modal-header {
    background-color: $primaryColor;
  }
  .modal-title {
    font-family: Mali;
    color: $quadraryColor;
  }
  .btn-close-modal {
    background-color: $primaryColor;
    color: $quadraryColor;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    height: 100%;
    width: 100%;
  }

  .copyright {
    bottom: 0px;
    margin-bottom: 5px;
  }

  .container-spread {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container-summonedCat {
      width: 100%;
      max-width: 100%;
      display: flex;

      .img-cat {
        width: 100%;
        height: auto;
        border-top: $catBorderWidth;
        border: 15px #a6dcef inset;
      }

      .img-caption{
        color: #e36387;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 30px;
        margin: auto;
        font-family: "Mali-Bold";
        position: absolute;
        bottom: 15px;
        cursor: pointer;
        height: auto;
        width: 100%;
      }

    }
    .btn-purring {
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);

      button {
        border-top: 2px solid $tertiaryColor;
      }
    }
  }
}
